
{{ use('/yii\helpers\Html') }}
{{ use('/yii\bootstrap\Nav') }}
{{ use('/yii\bootstrap\NavBar') }}
{{ use('/yii\widgets\Breadcrumbs') }}
{{ use('/app\assets\AppAsset') }}


{{ register_asset_bundle('app/assets/AppAsset')}}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ html.encode(this.title) }}</title>
    {{ html.csrfMetaTags | raw }}
    {{ void(this.head) }}
</head>
<body>
{{ void(this.beginBody()) }}

<div class="wrap">

     {{ nav_bar_begin({
        'brandLabel' : 'Football Manager',
        'brandUrl' : app.homeUrl,

        'options' : {
            'class' : 'navbar-inverse navbar-fixed-top',
        },
     })
            }}
    ]);
    {{ nav_widget({
        'options' : {'class' : 'navbar-nav navbar-right'},
        'items' : [{
            'label' : 'Football',
            'url' : '/team/index',
            }],
        }) }}
    {{  nav_bar_end() }}

    <div class="container">

        {% if this.params['breadcrumbs'] %}
            {% set breadcrumbs = this.params['breadcrumbs'] %}
        {% else %}
            {% set breadcrumbs = [] %}
        {% endif %}

        {{ Breadcrumbs.widget({
            'links' : breadcrumbs,
        })|raw(html) }}

        {{ Alert.widget() }}

        {% block content %}
            {{ content|raw(html) }}
        {% endblock %}
    </div>

</div>

<footer class="footer">
    <div class="container">
        <p class="pull-left">&copy; Football manager {{ 'now'|date('Y') }}</p>

        <p class="pull-right"><?= Yii::powered() ?></p>
    </div>
</footer>

{{ void(this.endBody()) }}
</body>
</html>
{{ void(this.endPage()) }}
