    {{ use ('yii/helpers/Html') }}
    {{ use ('yii/widgets/ActiveForm') }}

    <div class="team-form">

        {% set form = active_form_begin({

            'options' : {'class' : 'form-horizontal'
        }}) %}

        {{ form.field(model, 'name').textInput() | raw }}

        {{ form.field(model, 'year').textInput() | raw }}

            <div class="form-group">
               {{   html.submitButton(model.isNewRecord ? 'Create' : 'Update', {'class' : model.isNewRecord ? 'btn btn-success' : 'btn btn-primary'})| raw }}
            </div>

        {{ active_form_end() }}

    </div>