{{ use('yii\\helpers\\Html') }}
{{ use('yii\\helpers\\Url') }}
{{ use('yii\\grid\\GridView') }}
{{ use('app\\models\\Team') }}

<h2>Список команд</h2>
    {{ html.a('Додати команду', ('/team/create'),
    {'class':'btn btn-primary pull-right'}) | raw}}
<br>
<br>
{{  GridView_widget({
    'dataProvider' : dataProvider,
    'summary' : false,
    'filterModel' : searchModel,
    'columns' : [
    {'class': '\\yii\\grid\\SerialColumn'},
    'id',
    serial_column,
    'year',
    {'class' : 'yii\\grid\\ActionColumn',
     'template' : '{delete} {update}',
    },
    ],
})
}}

