{{ use ('yii/helpers/Html') }}
{{ use ('yii/widgets/ActiveForm') }}



    {% set form = active_form_begin({'options' : {'class' : 'form-horizontal'}}) %}

    {{ form.field(model, 'name').textInput()| raw }}

    {{ form.field(model, 'surname').textInput()| raw }}

    {{ form.field(model, 'year').textInput()| raw }}

    {{  form.field(model, 'position').dropDownList({
        'Нападаючий' : 'Нападаючий',
        'Захисник' : 'Захисник',
        'Воротар' : 'Воротар',
        'Півзахисник' : 'Півзахисник',
        'Запасний' : 'Запасний',
    }) | raw }}

    {{ form.field(model, 'team_id').hiddenInput({'value' : app.request.get('team_id')}).label(false) | raw}}

<div class="form-group">
    {{   html.submitButton(model.isNewRecord ? 'Create' : 'Update', {'class' : model.isNewRecord ? 'btn btn-success' : 'btn btn-primary'}) | raw }}
</div>

{{ active_form_end() }}
