{{ use ('yii/helpers/Html') }}
{{ use ('yii/helpers/Url') }}
{{ use ('yii/grid/GridView') }}
{{ use ('yii/widgets/Pjax') }}

<h2>Список гравців команди</h2>
{{   html.a('Додати гравця', {0:'/player/create', 'team_id' : app.request.get('team_id')}, {'class' : 'btn btn-primary pull-right'}) | raw }}
<br>
<br>
{{ Pjax_begin({'id' : 'model-grid', 'enablePushState' : false, 'timeout' : 1000,}) }}
{{   GridView_widget({
    'dataProvider' : dataProvider,
    'summary' : false,
    'columns' : [
    {'class': '\\yii\\grid\\SerialColumn'},
        'id',
        'name',
        'year',
        'position',
        action_column,
    ],
}) }}
{{ Pjax_end() }}



